<div class="contenedor">
    <div class="formulario">
        <form action="" (ngSubmit)="onSubmit()">
        <h1>INICIO DE SESIÓN</h1>
        <div class="input-box">
            <input type="email" placeholder="CORREO" [(ngModel)]="email" name="email" required>
            <i class='bx bx-user'></i>
        </div>
    
        <div class="input-box">
            <input type="password" placeholder="CONTRASEÑA" [(ngModel)]="password" name="password" required>
            <i class='bx bx-lock-open-alt'></i>
        </div>
        <button type="submit" class="btn">INGRESAR</button>
        </form>
    </div>
</div>
