<div class="container-fluid">
  <div class="d-flex flex-wrap row">
    <div class="card mx-4 mb-3" style="width: 18rem">
      <div class="card-body">
        <img src="..." class="card-img-top" alt="..." />
        <h5 class="card-title">Alfajores en Bocaditos</h5>
        <p class="card-text">
          Alfajores en Miniatura ideal para cualquier ocasion o evento por ciento
        </p>
        <p class="card-text"><strong>Cantidad Disponible:</strong></p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline" type="button" id="minusBtn">-</button>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Cantidad"
            aria-label="Cantidad"
            aria-describedby="basic-addon1"
            id="quantityInput"
            value="1"
          />
          <div class="input-group-append">
            <button class="btn btn-outline" type="button" id="plusBtn">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card mx-4 mb-3" style="width: 18rem">
      <div class="card-body">
        <img src="..." class="card-img-top" alt="..." />
        <h5 class="card-title">Alfaj  ores en Bocaditos</h5>
        <p class="card-text">
          Alfajores en Miniatura ideal para cualquier ocasion o evento por ciento
        </p>
        <p class="card-text"><strong>Cantidad Disponible:</strong></p>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-outline" type="button" id="minusBtn">-</button>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Cantidad"
            aria-label="Cantidad"
            aria-describedby="basic-addon1"
            id="quantityInput"
            value="1"
          />
          <div class="input-group-append">
            <button class="btn btn-outline" type="button" id="plusBtn">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>