<div class="container-fluid">
    <div class="card-header">
      <h1>Mantenimiento de Insumos</h1>
    </div>
    <div class="card-body">
      <table class="table table-secondary table-striped text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Estado</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Bocaditos</td>
            <td>Bocaditos para fiestas o eventos especiales</td>
            <td>
              <i class="fa-solid fa-circle-dot fa-lg" style="color: #57bf31"></i
              >&nbsp;&nbsp;Activo
            </td>
            <td>
              <button type="button" class="btn btn-transparent">
                <i
                  class="fa-regular fa-pen-to-square fa-xl"
                  style="color: #2657ab"
                ></i></button
              ><button type="button" class="btn btn-transparent">
                <i
                  class="fa-regular fa-trash-can fa-xl"
                  style="color: #ac1111"
                ></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Bocaditos</td>
            <td>Bocaditos para fiestas o eventos especiales</td>
            <td>
              <i class="fa-solid fa-circle-dot fa-lg" style="color: #57bf31"></i
              >&nbsp;&nbsp;Activo
            </td>
            <td>
              <button type="button" class="btn btn-transparent">
                <i
                  class="fa-regular fa-pen-to-square fa-xl"
                  style="color: #2657ab"
                ></i></button
              ><button type="button" class="btn btn-transparent">
                <i
                  class="fa-regular fa-trash-can fa-xl"
                  style="color: #ac1111"
                ></i>
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Bocaditos</td>
            <td>Bocaditos para fiestas o eventos especiales</td>
            <td>
              <i class="fa-solid fa-circle-dot fa-lg" style="color: #ac1111"></i
              >&nbsp;&nbsp;Inactivo
            </td>
            <td>
              <button type="button" class="btn btn-transparent">
                <i
                  class="fa-regular fa-pen-to-square fa-xl"
                  style="color: #2657ab"
                ></i></button
              ><button type="button" class="btn btn-transparent">
                <i
                  class="fa-regular fa-trash-can fa-xl"
                  style="color: #ac1111"
                ></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  