<div class="container d-flex justify-content-center">
  <div class="card p-3">
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputEmail4" [(ngModel)]="nombre" name="nombre">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="inputPassword4" [(ngModel)]="correo" name="correo">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="inputAddress" placeholder="" [(ngModel)]="clave" name="clave">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Tipo de Usuario</label>
        <select id="inputState" class="form-select" [(ngModel)]="perfil" name="perfil">
          <option  *ngFor="let i of tipoUsuarios">{{i.name}}</option>
        </select>
        
      </div>
      <button type="button" class="btn btn-info" (click)="crearEmpleado()">
        <i class="fa-solid fa-plus fa-xl" style="color: #2657ab">&nbsp;Crear Empleado</i>
      </button>
    </form>
  </div>
</div>